In [2]:
# 1-List and it default function
fruits = ["ananas","bananas","orange","pineapple","Blackberries","Banana"]

In [39]:
print(fruits)
type(fruits)

['ananas', 'bananas', 'orange', 'pineapple', 'Blackberries', 'Banana']

list

In [4]:
lst = [1,2,34,51,47,"vehicule","house",[10,15,16,20,True,False]]

In [38]:
print(lst)
type(lst)

[1, 2, 34, 51, 47, 'vehicule', 'house', [10, 15, 16, 20, True, False]]

list

In [8]:

#Dictionary and its defaul funcions

dty = {"Name":"billo","Greeting":"Hello","Country":"India","Country2": 'Kenya',"age":25,"size":150}

In [10]:
print(dty)

{'Name': 'billo', 'Greeting': 'Hello', 'Country': 'India', 'Country2': 'Kenya', 'age': 25, 'size': 150}

In [37]:
print(dty.get('Country'))
type(dty)

India

dict

In [13]:
print(dty.get("age"))

25

In [14]:
import os
os.getcwd()

'/home/billo'

In [36]:
#Set and its default functions
wpset = {1,2,50,100,15,"hello","up and down","morning","evening", "one year"}
type(wpset)

set

In [19]:
print(wpset)

{1, 2, 100, 'morning', 15, 'hello', 'evening', 50, 'up and down', 'one year'}

In [21]:
#Tuple and its default functions

musicandmix = (1,23,14,"karoke","jazz","Rnb","concert","singer","piano")

In [35]:
print(musicandmix)
type(musicandmix)

(1, 23, 14, 'karoke', 'jazz', 'Rnb', 'concert', 'singer', 'piano')

tuple

In [54]:
name = "Barack obama"
job = " Former President of "
status1 = "Former "
Country = " United state"
print(name +  "" + "\n" +job + " ")
print(Country)

Barack obama
 Former President of
 United state

In [34]:
thought = "I love letsupgrade because their teaching method is good and fun"
print(thought)
st = True
pt = False
print(st)
print(pt)
type(st)
type(pt)

I love letsupgrade because their teaching method is good and fun
True
False

bool

In [33]:
a = 5
b = 4
c= 3
d =70
ab = 14.50
ac = 18.10
ad =100.12
do = 100.89
di =0.125
print(a+b)
print(ab +ac)
type(a+b)

9
32.6

int

In [32]:
type(a)
type(ab)

float